<!-- <h2>Hello, Welcome to my blog!</h2> -->
<div class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
		<li class="menu-text">Cool Blog</li>
		<li><%= link_to 'Home', controller: 'welcome' %></li>
		<li><%= link_to 'Blog', controller: 'articles' %></li>
		</ul>
	</div>
</div>

